
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400&display=swap');
*{
   font-family: 'Fira Sans', sans-serif;
}
.poket-header-top-1 {
   background-color: #f5a96e;
   color: #ffffff;
   font-family: sans-serif;
   font: 15px;
   margin: 0px;
   box-sizing: border-box;
   padding: 10px 0;
   width: 100%; 
   display: flex;
   justify-content: space-around;
}
.poket-header-top-1 .top-left-header-1{
   display: flex;
}

.poket-header-top-1 .top-right-header-1{
   display: flex;
   flex-wrap: wrap;
   list-style-type: none;



}

.poket-header-top-2 .nav-area{ 
    background-color: #ffffff;
    width: 100%;
    height: 100px;
    color: black;
}