@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5vAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9vAw.ttf) format('truetype');
}
.Nav {
  background-color: white;
  width: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
}
.Nav h2 {
  font-family: 'Roboto', sans-serif;
}
.menu {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}
.backgroundNav {
  justify-content: space-around;
  align-items: center;
  padding: 20px 0px;
}
.nav-item {
  padding: 0 8px;
}
.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.navbar-item {
  float: left;
}
.navbar-item,
.navbar-item-text {
  display: block;
  padding: 8px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.navbar-item .navbar-item-text:hover,
.navbar-item-text .navbar-item-text:hover {
  background-color: #f5a96e;
  transform: scale(1.1);
  border-radius: 20px;
}
.background-image1 {
  background-image: url(../image/slider-01.jpg);
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 980px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.background-image1,
.background-image1-container,
.text1 {
  color: white;
  font-size: 70px;
}
.background-image1,
.text2 {
  font-size: 18px;
  font-weight: 500;
}
.button-viewdetail {
  background-color: #ffff;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
}
.background-content {
  background-color: black;
  width: 100%;
  height: 503px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text3 {
  color: #f5a96e;
  font-size: 17px;
}
.text4 {
  font-size: 40px;
  line-height: 1.5;
}
.all-service-text {
  background-color: white;
  width: 250px;
  height: 346px;
  border-style: solid ;
  border-color: #E5E5E5;
  padding: 10px;
}
.content1 {
  text-align: center;
  margin-top: 70px;
  display: grid;
  align-items: center;
}
.all-service-items {
  display: flex;
  justify-content: center;
  padding: 40px 20px 40px 20px;
  margin-top: -160px;
  align-items: center;
  position: inherit;
}
.slick-slide img {
  display: inline;
}
.slick-initialized .slick-slide {
  margin: 0 10px;
}
.content3 {
  background-color: #f5a96e;
  width: 250px;
  height: 200px;
  margin: 0px -90px 0px 131px;
  text-align: center;
  display: grid;
  align-items: center;
  color: white;
  position: absolute;
  margin-top: -400px;
}
.elementor {
  display: flex;
  justify-content: space-evenly;
  position: relative;
}
.elementor2 {
  width: 50%;
}
.text6 {
  color: black;
  letter-spacing: 2px;
  font-size: 20px;
}
.text7 {
  color: black;
  letter-spacing: 2px;
  font-size: 18px;
  display: flex;
  justify-content: space-evenly;
}
.option {
  list-style: none;
}
hr.solid {
  border-top: 0.25px solid #bbb;
  margin-top: 60px;
}
.call {
  display: flex;
  justify-content: flex-start;
  grid-gap: 35px;
  margin-top: 10px;
}
.item-call {
  width: 100%;
}
.content5 {
  display: grid;
  justify-content: center;
  margin-top: 100px;
}
.all-service-text2 {
  background-color: white;
  width: 350px;
  height: 420px;
  border-style: solid ;
  border-color: #E5E5E5;
  padding: 10px;
}
.button {
  background-color: #4CAF50;
  /* Green */
  border-radius: 50px ;
  color: white;
  border: none;
  text-align: center;
  background-color: #bbb;
  cursor: pointer;
  width: 50px;
  height: 50px;
  margin: auto;
  margin-top: 30px;
}
.button:hover {
  background-color: #f5a96e;
}
.background-image2 {
  background-image: url(https://themexbd.com/poket/realestate/wp-content/uploads/2021/11/counter-bg.jpg);
  width: 100%;
  height: 300px;
  margin-top: 40px;
}
.solid {
  border-top: 3px solid #bbb;
  width: 100%;
}
.background5 {
  background-image: url(https://themexbd.com/poket/realestate/wp-content/uploads/2021/11/video-bg1.jpg);
  width: 100%;
  height: 500px;
  margin-top: 100px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper {
  --clip-path: circle(15px at left);
  --clip-path-hover: circle(70px at left);
  --clip-path-clicked: circle(100vw at left);
  --duration: 0.4s;
  --timing-function: ease;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper .video {
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  clip-path: var(--clip-path);
  transition: clip-path var(--duration) var(--timing-function);
}
.wrapper .video video {
  position: fixed;
  background: #c4cbde;
  top: 50%;
  left: 50%;
  width: 1000px;
  height: 600px;
  transform: translate(-50%, -50%);
}
.wrapper .text {
  position: relative;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.2px;
  opacity: var(--opacity, 1);
  transition: opacity 0.3s var(--timing-function) 0.2s;
}
.wrapper .text::before,
.wrapper .text::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -1px;
  right: 25px;
  height: 0;
}
.wrapper .text::before {
  box-shadow: 26px 0 0 1px var(--color);
  right: var(--r, 100%);
  opacity: var(--opacity, 0);
  transition: right 0.5s ease-in, opacity 0.1s linear;
}
.wrapper .text::after {
  box-shadow: 26px 0 0 1px var(--color-invert);
  clip-path: var(--clip-path);
  transition: clip-path var(--duration) var(--timing-function);
}
.wrapper .text > span::before,
.wrapper .text > span::after {
  content: attr(data-text);
  padding-left: 26px;
}
.wrapper .text > span::before {
  color: var(--color);
}
.wrapper .text > span::after {
  color: var(--color-invert);
  clip-path: var(--clip-path);
  transition: clip-path var(--duration) var(--timing-function);
  position: absolute;
  left: 0;
}
.wrapper input {
  width: 220px;
  height: 40px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  border-radius: 40px;
  outline: none;
  z-index: 2;
  appearance: none;
  cursor: pointer;
}
.wrapper input:focus {
  outline: 0;
}
.wrapper input:hover ~ .video {
  clip-path: var(--clip-path-hover);
  z-index: 5;
}
.wrapper input:hover ~ .text::before {
  --r: 25px;
  --opacity: 1;
}
.wrapper input:hover ~ .text::after {
  clip-path: var(--clip-path-hover);
}
.wrapper input:hover ~ .text > span::after {
  clip-path: var(--clip-path-hover);
}
.wrapper input:checked {
  width: 100%;
  height: 100%;
}
.wrapper input:checked ~ .video {
  clip-path: var(--clip-path-clicked);
}
.wrapper input:checked ~ .text {
  --opacity: 0;
  transition: opacity 0.3s var(--timing-function);
}
.wrapper input:checked ~ .text::after {
  clip-path: var(--clip-path-clicked);
}
.wrapper input:checked ~ .text > span::after {
  clip-path: var(--clip-path-clicked);
}
.background6 {
  text-align: center;
  margin-top: 80px;
}
.background6 .background7 {
  width: 90%;
  margin: auto;
}
.background6 .background7 img {
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}
.background6 .background7 li:hover img {
  transform: scale(1.1);
  opacity: 0.6;
}
.slick-initialized .slick-slide {
  margin: 0 10px;
  text-align: center;
}
.slick-prev {
  left: 0;
}
.slick-next {
  right: 0;
}
.slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 2;
  transform: translateY(-50%);
  border: none;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 1;
  transition: all 0.2 linear;
}
.slick-arrow:hover {
  background-color: #f5a96e;
}
.background8 {
  background-image: url("https://themexbd.com/poket/realestate/wp-content/uploads/2021/11/video-bg1.jpg");
  max-width: 100%;
  height: 100%;
  margin-top: 50px;
}
.background8 .item {
  background-color: black;
  width: 100%;
  height: 100%;
  opacity: 0.6;
}
.background8 .item2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  line-height: 4;
}
.background8 .item3 {
  display: flex;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  justify-content: space-around;
  column-gap: 30px;
}
.background9 {
  background-color: #000000;
  max-width: 100%;
  height: 40%;
}
.background9 .item {
  display: flex;
  justify-content: space-around;
  line-height: 4;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.background9 .item2 {
  display: flex;
  justify-content: space-around;
  column-gap: 30px;
}
